<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.escapegame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EscapeGame">
        <activity android:name=".East_drawer"></activity>
        <activity android:name=".East_wave" />
        <activity android:name=".East_rbbox" />
        <activity android:name=".East_box" />
        <activity android:name=".East_door" />
        <activity android:name=".North_preparationroom" />
        <activity android:name=".West" />
        <activity android:name=".South" />
        <activity android:name=".East" />
        <activity android:name=".North" />
        <activity android:name=".Setting" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>